<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=DESKTOP-EOVL934;Initial Catalog=aspnetdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ASPNETDBConnectionString" connectionString="Data Source=DESKTOP-EOVL934;Initial Catalog=aspnetdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyBookShopConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyBookShop.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--设置Forms身份验证-->
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" />
    </authentication>
    <!--匿名用户使用ProFile设置-->
    <anonymousIdentification enabled="true" />
    <!--用于存储购物车信息的Profile设置-->
    <profile enabled="true" defaultProvider="ProfileProvider" automaticSaveEnabled="true">
      <providers>
        <clear />
        <add name="ProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ASPNETDBConnectionString" />
      </providers>
      <properties>
        <group name="Cart">
          <add name="BookId" type="System.Collections.ArrayList" allowAnonymous="true" />
          <add name="BookName" type="System.Collections.ArrayList" allowAnonymous="true" />
          <add name="Qty" type="System.Collections.ArrayList" allowAnonymous="true" />
          <add name="ListPrice" type="System.Collections.ArrayList" allowAnonymous="true" />
          <add name="TotalPrice" allowAnonymous="true" />
        </group>
      </properties>
    </profile>
    <!--角色设置-->
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.net>
    <mailSettings>
      <smtp from="bookstore2020">
        <network host="smtp.126.com" password="st123698" port="25" userName="bookstore2020" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>